* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    padding-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 50px;
}

.body {
    font-family: 'Poppins', sans-serif;
    display: flex;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 25px;
    margin: 0px 0px 30px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 70px;
}

.col-2 img {
    max-width: 100%;
    padding: 70px 0px;
    height: 650px;
    margin: 50px;
    width: 650px;
}

.col-2 h1 {
    line-height: 40px;
    margin: 25px 0px;
}

p {
    margin: 25px 0px 10px 0px;
    font-size: 20px;
}

.col-2 {
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 30px;
}

.btn {
    display: inline-block;
    background: rgb(247, 242, 242);
    border-radius: 40px;
    color: #441717;
    padding: 8px 30px 8px 30px;
    margin: 30px 0px;
}

.btn:hover {
    background-color: rgb(78, 69, 69);
    transition: 1s;
}

.header {
    background: #e9d7d3;
}

.header .row {
    margin-top: 70px;
}

.bargain {

    margin: 10px 30px 5px 30px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}




.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 10px;
    transform: 0.5s;
}

p {
    margin: 0px;
    font-size: 14px;
}

.col-4 img {
    width: 100%;
}

.heading {
    text-align: center;
    margin: 0 auto 30px;
    line-height: 60px;
    color: green;
    font-family: 'Kalam', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.col-4 .black {
    height: 330px;
    width: 200px;
}

h4 {
    color: #555;
    font-weight: normal;
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.rating {
    color: green;
}

.t-shirt {
    height: 330px;
}

.shirt {
    height: 650px;
}

.heading-2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
    color: red;
    margin: 0 auto 30px;
}

.watch {
    height: 416px;
}


.image-slider .img-list {
    display: grid;
    gap: 20px;
    overflow-x: auto;
    grid-template-columns: repeat(8, 1fr);
    scrollbar-width: none;
}

.image-slider #slide-button .previous-round {
    left: -20px;
}

.image-slider #slide-button .next-round {
    right: -20px;
}

.image-slider #slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: white;
    border: navajowhite;
    outline: navajowhite;
    background-color: black;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}


.image-slider .img-list::-webkit-scrollbar-button {
    display: none;
}

.image-slider .image-list .image-item .watch {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.big-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.previous-round {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 15px;
    left: -20px;
}

.previous-round:hover {
    background-color: #252424;
    color: rgb(253, 253, 253);
}

.next-round {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 15px;
    right: -20px;
}

.next-round:hover {
    background-color: black;
    color: whitesmoke;
}

.brands {
    margin: 100px auto;
}

.col5 {
    width: 100px;
}

.col5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col5 img:hover {
    filter: grayscale(0);
}

.footer {
    background: black;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
    min-width: 150px;
    margin-bottom: 5%;
}

.footer-col1 {
    flex-basis: 35%;
}

.footer-col2 {
    flex: 1;
    text-align: center;
}

.footer-col2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col3,
.footer-col4 {
    flex-basis: 12px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.applogo {
    margin-top: 20px;
}

.applogo img {
    width: 140px;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
}

.menu-icon {
    width: 28px;
    margin-left: 25px;
}

@media only screen and (max-width:800px) {

    nav ul {
        position: absolute;
        top: 80px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }
}

@media only screen and (max-width:800px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}

.large-container {

    max-width: 1080px;
    margin: auto;
    padding-left: 0px;
    padding-right: 20px;
}


.single-product {
    margin-top: 10px;
}

.single-product h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #e9d7d3;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #e9d7d3;
}


.small-img-row {
    display: flex;
    justify-content: space-between;

}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#shirt-img {
    height: 100px;
}

.shirt-img {
    height: 10px;
}

.never {
    height: 335px;
}


.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}



.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background-color: #a52a2a;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #a52a2a;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #a52a2a;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.account-page {
    padding: 50px 0;
    background: #e9d7d3;
    ;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;

}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#Loginform {
    left: -300px;
}

#Regform {
    left: 0;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}



header {
    text-align: center;
    margin-bottom: 50px;
}

main {
    width: 500px;
    margin: 0 auto;
}

form {
    padding: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.ccontainer {
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbtn {
    padding: 10px 60px;
    color: black;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}


.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.pop button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.cccontainer {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.content-section .social {
    margin-top: 40px;
}

.content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #3d3d3d;
}

@media screen and (max-width:768px) {
    .cccontainer {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .content .button {
        text-align: center;
    }

    .content-section .content .button a {
        padding: 9px 30px;
    }

    .content-section .social {
        text-align: center;
    }
}

.checkout-button {
    float: right;
    margin: 20px;
    padding: 10px;
    background-color: #a52a2a;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}


section {
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.summary {
    margin-top: 50px;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
}

.summary-table th,
.summary-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.subtotal,
.tax,
.total {
    text-align: right;
}

/* ============================================
   E-COMMERCE ENHANCEMENTS
   ============================================ */

/* Cart and Wishlist Badges */
.cart-badge,
.wishlist-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff523b;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.cart-container,
.wishlist-container {
    position: relative;
    display: inline-block;
}

/* Product Card Actions */
.product-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.add-to-cart-btn {
    background-color: #ff523b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    flex: 1;
}

.add-to-cart-btn:hover {
    background-color: #e04329;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wishlist-btn {
    background: none;
    border: 2px solid #ff523b;
    color: #ff523b;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-size: 16px;
}

.wishlist-btn:hover {
    background-color: #ff523b;
    color: white;
    transform: scale(1.1);
}

.wishlist-btn.active {
    background-color: #ff523b;
    color: white;
}

.wishlist-btn i {
    pointer-events: none;
}

/* Product Card Enhancements */
.col-4 {
    position: relative;
    transition: all 0.3s ease;
}

.col-4:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Notification System */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    opacity: 0;
    transform: translateX(400px);
    transition: all 0.3s ease;
    max-width: 300px;
}

.notification.show {
    opacity: 1;
    transform: translateX(0);
}

.notification-success {
    background-color: #4CAF50;
}

.notification-error {
    background-color: #f44336;
}

.notification-info {
    background-color: #2196F3;
}

/* Empty State */
.empty-state {
    text-align: center;
    padding: 60px 20px;
}

.empty-state i {
    font-size: 80px;
    color: #ccc;
    margin-bottom: 20px;
}

.empty-state h2 {
    color: #555;
    margin-bottom: 10px;
}

.empty-state p {
    color: #888;
    margin-bottom: 30px;
}

.empty-state .btn {
    display: inline-block;
}

/* Wishlist Page Styles */
.wishlist-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e9d7d3;
    gap: 20px;
}

.wishlist-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.wishlist-item-info {
    flex: 1;
}

.wishlist-item-info h4 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.wishlist-item-info p {
    font-size: 16px;
    color: #ff523b;
    font-weight: bold;
}

.wishlist-item-actions {
    display: flex;
    gap: 10px;
}

.wishlist-item-actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.move-to-cart {
    background-color: #ff523b;
    color: white;
}

.move-to-cart:hover {
    background-color: #e04329;
}

.remove-wishlist {
    background-color: #f0f0f0;
    color: #555;
}

.remove-wishlist:hover {
    background-color: #e0e0e0;
}

/* Cart Item Enhancements */
.cart-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-info img {
    border-radius: 8px;
}

/* Size Selector */
.size-selector {
    margin: 15px 0;
}

.size-selector label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.size-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.size-option {
    padding: 8px 16px;
    border: 2px solid #e9d7d3;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: white;
}

.size-option:hover {
    border-color: #ff523b;
}

.size-option.selected {
    border-color: #ff523b;
    background-color: #ff523b;
    color: white;
}

/* Quantity Selector */
.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #e9d7d3;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.quantity-btn:hover {
    background-color: #f0f0f0;
}

.quantity-input {
    width: 60px;
    text-align: center;
    border: 1px solid #e9d7d3;
    padding: 5px;
    border-radius: 4px;
}

/* Responsive Enhancements */
@media only screen and (max-width: 600px) {
    .product-actions {
        flex-direction: column;
    }

    .add-to-cart-btn {
        width: 100%;
    }

    .wishlist-item {
        flex-direction: column;
        text-align: center;
    }

    .wishlist-item-actions {
        width: 100%;
        flex-direction: column;
    }

    .wishlist-item-actions button {
        width: 100%;
    }

    .notification {
        right: 10px;
        left: 10px;
        max-width: none;
    }
}

/* Loading Spinner */
.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #ff523b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}